[Unit]
After=network.target

[Service]
Type=simple
ExecStart=/home/alarm/projects/c-mnalib/c-manlib.git/scripts/connect-modem.sh

[Install]
WantedBy=default.target
